<link rel='stylesheet' type='text/css' href='css/reset.css' />
<link rel='stylesheet' type='text/css' href='css/jquery-ui-1.10.0.custom/jquery-ui-1.10.0.custom.min.css'>
<link rel='stylesheet' type='text/css' href='js/lib/fancytree/skin-win7/ui.fancytree.css'>
<link rel='stylesheet' type='text/css' href='js/lib/bootstrap/css/bootstrap.min.css' media='screen'>
<link rel='stylesheet' type='text/css' href='js/lib/jquery-fileupload/css/jquery.fileupload-ui.css' media='screen'>
<link rel='stylesheet' type='text/css' href='js/lib/datatables/css/jquery.dataTables.css'>

<link rel='stylesheet' type='text/css' href='css/app.css' />
 
<script data-main='js/app.js', src='js/require.js'></script>

